
*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}

 body{
 	font-size:15px;
 	overflow-x:hidden;
 	
}


header{
    background-image:url('SPI.png');
    background-size:cover;
    background-repeat:no-repeat;
    height:100vh;
}

.clearfix:after{
	content:".";
	visibility:hidden;
	display:block;
    clear:both;
}

 .main-nav{
    float:right;
    margin-top:30px;
    background-color:rgba(0,0,0,0.3);
    min-height:10px;
}

 .main-nav li{
 	display:inline-block;
 	margin-left:40px;
	list-style:none;
}

.main-nav li a{
	color: #fff;
	text-decoration:none;
	text-transform:uppercase; 
	font-size:110%;
}

.main-content-header{
	width:790px;
    border:0px solid red;
 	position:absolute;
 	top:80%;
 	right:60%;
 	left:65%;
 	transform:translate(-50%,-50%);
    color:red;
 }

 .btn{
      display:inline-block;
      padding:10px 30px;
      font-weight:lighter;
      text-decoration:none;
      text-transform:
      border-radius:200px;
      transition:background-color 0.2, border0.2,color 0.2;  
 }

.btn-full{
	background-color:transparent;
	color:#bf55ec;
	margin-right:15px;
	border:1px solid #bf55ec;
}




